@import 'variables';
body {
	margin: 10px;
	padding: 10px;
	background-color: $background-color_11;
	text-align: center;
}
#blogList {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
}
.titlecontainer {
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	gap: 50px;
	justify-content: space-between;
	align-items: center;
	background-color: $background-color_21;
}
#addnewbtn {
	width: 250px;
	height: 55px;
	font-size: 25px;
	font-weight: bold;
	font-family: $font-family_1;
	background-color: $background-color_31;
	align-items: center;
	border-radius: 10px;
	box-shadow: $boxshadow;
	cursor: pointer;
}