$font-family_1: 'Times New Roman', Times, serif;
$background-color_1: #a7d4ec;
$background-color_2: rgba(103, 218, 122, .5);
$background-color_3: rgba(250, 11, 11, 0.5);
$boxshadow: 10px 10px 8px #888888;




$background-color_11: azure;
$background-color_21: aquamarine;
$background-color_31: rgba(221, 227, 64, 0.5);





$background-color_13: rgb(200, 201, 150,0.8);
$background-color_23: rgb(230, 201, 150,0.8);
$background-color_33: rgba(103, 218, 122, .5);